$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/toastr/toastr.scss';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

* {
    word-wrap: break-word;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.breadcrumb {
    background-color: white;
}

.verticalTextArea {
    resize: vertical;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'answers/answer.scss';
@import 'main/main.scss';
@import 'questionSets/questionSets.scss';
@import 'questions/questions.scss';
@import 'questions/sessionDetails/sessionDetails.scss';
@import 'sessionPractice/practiceSession.scss';
@import 'topics/quoteDetail/quoteDetail.scss';
@import 'topics/quotes/quotes.scss';
@import 'topics/topics.scss';
@import 'core/pageNotFound/pageNotFound.scss';
@import 'navbar/navbar.scss';
// endinjector
