form[name='addTopicForm'] {
    ul.questionSets {
        max-height: 200px;
        overflow-y: scroll;
        li a {
            display: block;
        }
        li a span {
            float: right;
            cursor: pointer;
        }
    }
}

.inspirationButton {
    width: 30px;
    float: left;
    margin: 0;
    margin-top: -14px;
    margin-left: -16px;
    padding: 0;
    display: inline-block;
    border-radius: 40px;
}
#inspirationPage{
    float:right;
    margin-top:15px;
}
.inspirationLink {
    display: inline-block;
}

.center {
    margin: auto;
    width: 60%;
    margin-top: 50px;
}

#topicDescription {
    background-color: white;
    font-size: 1.5em;
    padding: 10px;
    margin-left: 5px;
    font-style: italic;
    font-family: serif;
    /* white-space:pre-wrap; */
    max-height:200px;
    overflow-y:auto;
}

#topics hr {
    margin-top: 10px;
}

.topicDescription.preview {
    overflow: hidden;
    line-height: 18px;
    height: inherit;
    text-align: left;
}

#addTopic,
#addQuote {
    float: right;
    margin-top: 15px;
}

#addQuote {
    margin-bottom: 10px;
}
#associatedQuestionSets{
    margin-top:50px;
}
#associatedQuestionSets h4{
    text-align:left;
}
.associatedQuestionSet {
    background: #AC9AD2;
    color: white;
    text-decoration: none;
    transition: ease .5s;
}

.associatedQuestionSet p {
    font-size: 1.4em;
    font-family: serif;
    font-weight: bold;
    color: white;
    text-transform:uppercase;
}

.associatedQuestionSet:hover {
    background: rgba(114, 60, 130, 0.75);
    border-color: rgba(114, 60, 130, 0.25);
    text-decoration: none;
}
.associatedQuestionSet:hover p{
    font-size:1.5em;
}
.topicOptions{
    float:right;
}

#quotes,
#topics,
#associatedQuestionSets {
    .row {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
    }
    .item {
        display: inline-block;
        padding: .25rem;
        width: 100%;
        a:hover {
            text-decoration: none;
        }
    }
    .fixedHeight {
        height: 250px;
    }
    .well {
        position: relative;
        display: block;
        .options {
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            font-size: 1.2em;
            .edit {
                margin-right: 10px;
            }
        }
        .row {
            padding: 4px 20px 0 20px;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .well:hover {
        box-shadow: 10px 10px 5px #888888;
    }
}

//quote details
.mb-wrap blockquote {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    position: relative;
}

.mb-wrap blockquote p {
    font-family: 'Alegreya', serif;
    font-size: 24px;
    color: #6B6969;
    font-weight: 400;
    line-height: 40px;
    font-style: italic;
    text-indent: 56px;
    position: relative;
    padding: 15px;
    white-space: pre-wrap;
    margin-left: 10px;
}

.mb-wrap blockquote:after,
.mb-style-3 blockquote:before {
    border: solid transparent;
    position: absolute;
}

.mb-wrap blockquote p:before {
    content: '\201C';
    font-family: serif;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    font-size: 175px;
    top: 0px;
    left: -105px;
    color: rgba(188, 147, 200, 1);
    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}

.mb-wrap blockquote:after {
    border-top-color: #ffffff;
    border-width: 10px;
    left: 65%;
    margin-left: -10px;
}

.mb-wrap .mb-attribution {
    text-align: right;
    padding: 20px 100px 20px 20px;
    position: relative;
}

.mb-wrap .mb-author {
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
    font-size: 18px;
    color: rgba(188, 147, 200, 1);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

.mb-wrap p {
    margin: 0;
    padding: 0;
}

.mb-wrap cite {
    font-style: normal;
}

.searchQuotes {
    margin-top: 35px;
    margin-bottom: 35px;
}
