#navbar-main ul li a:hover {
    background-color: #768FD1;
    color: white;
}

.banner {
    position: absolute;
}

.navbar-brand {
    background-image: url("../assets/images/heart.png");
    background-repeat: no-repeat;
    background-size: 65px;
    padding-left: 53px;
    background-position-y: 5px;
    height: 44px;
}

img.brandImage {
    width: 100px;
    height: 50px;
    padding: 0px;
}

.navbar-header {
    margin-left: 100px;
}

.navbar-blue {
    background-color: #BED5EB;
    border: 0px;
    ul li a {
        font-weight: bold;
        color: rgba(58, 51, 82, 0.64);
    }
    ul li.active a {
        background-color: rgba(78, 86, 144, 0.63);
        color: white;
    }
    .icon-bar {
        background-color: white;
    }
}

@media screen and (max-width:1500px) and (min-width:768px) {
    #navigation {
        margin-left: 11.3%;
    }
}
