<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a ui-sref="topicsList">Topics</a></li>
            <li><a ui-sref="topic({topicId:QuoteDetailCtrl.topic._id})">{{QuoteDetailCtrl.topic.title|trimFilter:50}}</a></li>
            <li><a ui-sref="inspiration({topicId:QuoteDetailCtrl.topic._id})">Inspiration Page</a></li>
            <li class="active">Quote Details</li>
        </ol>
    </div>
    <div class="row text-center">
        <h1>Quote Details</h1></div>
    <div class="row center">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span>
        <div class="mb-wrap">
            <blockquote>
                <p ng-bind="QuoteDetailCtrl.quote.text"></p>
            </blockquote>
            <div class="mb-attribution">
                <p class="mb-author" ng-bind="QuoteDetailCtrl.quote.author"></p>
            </div>
        </div>
    </div>
    <div class="row center">
        <p>Quote added at: {{QuoteDetailCtrl.quote.date | date:'hh:mm a on dd/MM/yyyy'}}</p>
        <hr> Source
        <cite ng-bind-html="(QuoteDetailCtrl.quote.source||'N/A')|linkSource"></cite>
        <div ng-if="QuoteDetailCtrl.quote.question">
            <hr>
            <p>Associated Question: <a class="questionTextLink" ui-sref="answerList({questionId:QuoteDetailCtrl.quote.question._id})"> {{QuoteDetailCtrl.quote.question.text}}</a></p>
        </div>
        <hr>
        <div class="col-lg-8">
            Comments:
            <div ng-if="QuoteDetailCtrl.comments.length===0">Not available</div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" ng-click="QuoteDetailCtrl.showAddComment=true">Add Comment</button>
        </div>
        <div ng-if="QuoteDetailCtrl.showAddComment" class="col-lg-12">
            <h4>Add new Comment</h4>
            <form name="addCommentForm" class="form">
                <div class="control-group">
                    <textarea maxlength="500" ng-model="QuoteDetailCtrl.comment" type="text" required placeholder="type comment" class="form-control verticalTextArea" cols="20" rows="5"></textarea>
                </div>
                <br>
                <div class="control-group">
                    <button class="btn btn-success btn-lg" ng-click="QuoteDetailCtrl.addComment();" ng-disabled="addCommentForm.$invalid">Add Comment</button>
                    <button class="btn btn-danger btn-lg" ng-click="QuoteDetailCtrl.cleanAddCommentForm()">Cancel</button>
                </div>
            </form>
        </div>
        <br>
        <div class="col-lg-12 commentsBlock">
            <div ng-repeat="comment in QuoteDetailCtrl.comments">
                <div class="commentBubble">
                    <p>{{comment.text}}</p>
                    <a class="trash deleteCommentBtn" confirm-click="Are you sure you want to delete this comment?" ng-click="QuoteDetailCtrl.deleteComment(comment._id)">
                        <span class="glyphicon glyphicon-trash pull-right"></span></a>
                    <small>added at {{comment.createDate |date:'hh:mm a on dd/MM/yyyy'}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>Wakeup App | 2015 | <a href="https://twitter.com/AlinaMihai90">Twitter</a> | <a href="https://github.com/alinaMihai/wakeupApp/issues">Issues</a>
        </p>
    </div>
</footer>
