div.commentsBlock{

}
div.commentBubble {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid rgba(188, 147, 200, 0.25);
    color: black;
    background-color:#EFE2EB;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div.commentBubble:before {
  top: 10px;
    bottom: auto;
    left: -30px;
    border-width: 15px 30px 15px 0;
    border-color: transparent rgba(188, 147, 200, 0.54);
    content: "";
    position: absolute; 
    border-style: solid;
    display: block;
    width: 0;
}

div.commentBubble p{
	max-height:100px;
	overflow-y:auto;
	font-family:Arial;
	font-size:1.3em;
	
}

div.commentBubble:after {
    top: 16px;
    bottom: auto;
    left: -21px;
    border-width: 9px 22px 9px 0;
    border-color: transparent #EFE2EB;
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}

.deleteCommentBtn{
	cursor:pointer;
}