.sessionList {
    list-style: none;
    margin-top: 50px;
}

.sessionList li {
    margin-bottom: 50px;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    display: block;
}

.questionData {
    font-size: 1.2em;
    max-height: 150px;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-word;
}

.questionQuote {
    font-size: 1em;
    font-style: italic;
    /* font-weight: bold; */
    text-indent: 10px;
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
    word-wrap: break-word;
    padding-right: 15px;
}

.questionQuote a {
    color: #9956AD;
    text-decoration: none;
}

.questionQuote a:hover {
    color: #723C82;
}

.questionQuote span {
    color: black;
    font-weight: normal;
}

.questionAnswer {
    font-size: 1.6em;
    font-family: serif;
    text-indent: 20px;
    white-space: pre-wrap;
    text-align: justify;
    margin-left: 10px;
}

.answerBox {
    max-height: 250px;
    overflow-y: auto;
    border-radius: 10px;
}

.answerBox div.item {
    margin-left: 32px;
    margin-right: 32px;
}

.answerBox a.carousel-control {
    width: 3%;
}

.answerBox .carousel-control.left,
.answerBox .carousel-control.right {
    background-image: none;
}

.answerBox .carousel-indicators,
.carousel-indicators li {
    display: none;
}

.answerBox .glyphicon-chevron-right,
.answerBox .glyphicon-chevron-left {
    color: black;
}

.answerDate {
    font-family: serif;
    font-size: 1.1em;
    float: left;
    margin-left: 12px;
}