#search {
    background: url("../../assets/images/search-white.png") no-repeat 10px 6px #fcfcfc;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #bebebe;
    margin-left: 17px;
    margin-bottom: 15px;
    width: 199px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    transition: all 0.7s ease 0s;
}

#search:focus {
    width: 500px;
}

#createQuestionSetBtn {
    float: right;
    margin-top: 15px;
}

#qsList {
    counter-reset: li;
    list-style: none;
    position: relative;
    font: 15px 'trebuchet MS', 'lucida sans';
    /* padding: 0; */
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rounded-list li {
    height: 43px;
    background: rgba(219, 206, 241, 0.53);
    color: #444;
    margin: 0.5em 0;
    padding-top: 0.2em;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.rounded-list strong a,
{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    color: #444;
    text-decoration: none;
}

.rounded-list .options span {
    cursor: pointer;
    margin-top: 10px;
}

.rounded-list li:hover {
    background: #AC9AD2;
}

.rounded-list li:hover div a {
    color: white;
}

.rounded-list li:hover:before {
    transform: rotate(360deg);
}

.rounded-list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 0.7em;
    margin-top: -0.3em;
    background: #87ceeb;
    height: 3em;
    width: 3em;
    line-height: 2.7em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
