.backgroundOverlay {
    position: relative;
    height: 504px;
}

#sessionMode {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 150%;
    background-image: url(../../assets/images/pathToHeart.jpg);
    background-repeat: no-repeat;
    z-index: 1001;
    background-size: cover;
}

#endQsSessionBtn {
    margin-left: 57px;
    margin-top: 10px;
    border-radius: 2em;
    background-color: #5652B1;
    transform: rotate(90deg);
    transform-origin: left top 0;
    font-size: 1.5em;
    display: block;
    width: 502px;
}

#endQsSessionBtn:hover {
    background-color: #5652A1;
}

.currentQuestionText {
    font-size: 1.6em;
    text-align: center;
    font-style: normal;
    padding: 5px;
    font-weight: 500;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    padding-right: 15px;
}

.associatedQuote{
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
    font-weight: 500;
    max-height: 100px;
    overflow-y: auto;
    padding-right: 15px;
}
.associatedQuote a{
    text-decoration:none;
    color:#723C82;
    /* font-weight: bold; */
}
.associatedQuote a:hover{
    color:#5E356B;
}
.associatedQuote small{
    color:black;
    font-weight: normal;
}

#answerTextArea {
    width: 100%;
    max-height: 300px;
}

.questionModal {
    display: block;
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -50%);
    width: inherit;
    height: inherit;
    z-index: 1002;
    overflow: auto;
    border-radius: 1em;
    background-color: #9FAECF;
}

.questionModal {
    padding: 1.5%;
}

.questionModal p {
    wrap-word: word-break;
}

@media only screen and (max-width: 700px) {
    .questionModal {
        width: 80%;
        left: 59%;
    }
}
