<div style="display:none" id="myQuestionModal">
    <div class="questionModal">
        <form name="answerForm">
            <div class="form-group">
                <ng-transclude></ng-transclude>
            </div>
            <div>
                <div class="col-sm-6">
                    <button ng-click="processQuestion()" class="btn btn-block btn-lg btn-success" style="margin-bottom:15px">Save Answer</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-block btn-lg btn-primary" ng-click="processQuestion({skip:true})">Skip</button>
                </div>
            </div>
        </form>
        
    </div>
</div>
