<div>
    <div class="backgroundOverlay">
        <div ng-if="vm.practiceSessionService.questionSetSession" id="sessionMode">
            <button id="endQsSessionBtn" ng-click="vm.endQuestionSet()" class="btn btn-lg btn-primary" title="End Question Set Session">End Question Set Session</button>
        </div>
    </div>
    <question-modal ng-show="vm.practiceSessionService.questionSetSession" repeat-qs="vm.practiceSessionService.repeatQS" cindex="vm.practiceSessionService.currentQuestionIndex" process-question='vm.processQuestion()'>
        <label for="currentAnswer">
            <p class="currentQuestionText">{{vm.currentQuestion.text}}</p>
            <p class="associatedQuote">{{vm.currentQuestion.quote.text|quotesSigns}}</p>
            <textarea id="answerTextArea" type="text" class="verticalTextArea" ng-model=vm.currentAnswer rows="7" cols="60"></textarea>
        </label>
    </question-modal>
</div>
