<div>
    <div class="backgroundOverlay">
        <div ng-if="vm.practiceSessionService.questionSetSession" id="sessionMode">
            <button id="endQsSessionBtn" ng-click="vm.endQuestionSet()" class="btn btn-lg btn-primary" title="End Question Set Session">End Question Set Session</button>
            <div class="container-sun" session-time>
                <svg class="svg-sun" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
                    <circle cx="50" cy="50" r="35" id="sun">
                    </circle>
                </svg>
                <span class="timeDisplay" ></span>
            </div>
        </div>
    </div>
    <question-modal ng-show="vm.practiceSessionService.questionSetSession" repeat-qs="vm.practiceSessionService.repeatQS" cindex="vm.practiceSessionService.currentQuestionIndex" process-question='vm.processQuestion'>
        <label for="currentAnswer">
            <p class="currentQuestionText">{{vm.currentQuestion.text}} <span class="displayProgress"></span></p>
            <p class="associatedQuote">
                <a ui-sref="quote({topicId:vm.currentQuestion.quote.topic._id,quoteId:vm.currentQuestion.quote._id})" target="_blank">
                    {{vm.currentQuestion.quote.text|quotesSigns}}
                </a>
                <small ng-bind="vm.currentQuestion.quote.author"></small>
            </p>
            <textarea maxlength="5000" id="answerTextArea" type="text" class="verticalTextArea" ng-model=vm.currentAnswer rows="7" cols="60"></textarea>
        </label>
    </question-modal>
</div>
