<div class="modal-header">
    <h3 class="modal-title">{{modalCtrl.data.heading}} Question</h3>
</div>
<div class="modal-body">
    <form name="editQuestionForm" ng-class="{'has-error':editQuestionForm.$invalid && editQuestionForm.questionName.$dirty}">
        <div class="form-group">
            <label for="questionName">Text
                <textarea maxlength="200" name="questionName" type="text" cols="1000" rows="3" class="verticalTextArea input input-lg form-control" required ng-model="modalCtrl.data.text"></textarea>
            </label>
        </div>
        <div class="form-group">
            Associate Quote:
            <input type="text" class="form-control" placeholder="search in quotes" ng-model="modalCtrl.search">
            <div class="row searchQuotesQuestion">
                <div class="col-sm-4" bindonce ng-repeat="quote in modalCtrl.data.quotes|orderBy:'topic'|filter:modalCtrl.search">
                    <div class="quoteBox">
                        <p>
                            <i title="Add Quote" class="fa fa-times" ng-if="modalCtrl.data.quote!==quote._id" ng-click="modalCtrl.data.quote=quote._id"></i>
                            <i title="Remove Quote" class="fa fa-check"  ng-if="modalCtrl.data.quote===quote._id" ng-click="modalCtrl.data.quote=''"></i>
                        </p>
                        <div>
                            <p class="quotePrev associatedQuote">
                                <a ui-sref="quote({topicId:quote.topic,quoteId:quote._id})" target="_blank" title="{{quote.text|trimFilter:100}}">
                                    {{quote.text|trimFilter:50|quotesSigns}}
                             </a>
                            </p>
                        </div>
                        <p class="quoteTopic">
                            {{modalCtrl.data.findTopicName(quote.topic)|trimFilter:50}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ul ng-if="modalCtrl.data.quote" class="list-group" style="margin:16px">
            <li class="list-group-item row">
                <div class="col-xs-10">
                    <p>{{modalCtrl.data.findQuoteText(modalCtrl.data.quote)|quotesSigns|trimFilter:100}}</p>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-danger" ng-click="modalCtrl.data.quote=''">Remove</button>
                </div>
            </li>
        </ul>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-lg" type="button" ng-click="modalCtrl.ok()" ng-disabled="editQuestionForm.$invalid">{{modalCtrl.data.heading==='Edit'?'Update':'Save'}}</button>
    <button class="btn btn-warning btn-lg" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
</div>
