<button id="practiceSessionBtn" ng-click="displayPopup=true" class="btn btn-block btn-lg btn-success" value="">Practice Question Set</button>

<div ng-show="displayPopup" class="white_content">
	<form name="popupForm">
		<div class="control-group" ng-class="{'has-error': popupForm.$invalid}">
			<ng-transclude></ng-transclude>
			<button type="submit" class="btn btn-lg btn-success" ng-disabled="!popupForm.$valid" ng-click="displayPopup=false; questionCtrl.startQuestionSet()">OK</button>
			<button ng-click="displayPopup=!displayPopup" class="btn btn-lg btn-danger" id="cancelBtn">Cancel</button>	
		</div>
		
	</form>
</div>
<div ng-if='displayPopup' id="fade" class="black_overlay"></div>	

