<div class="modal-header">
    <h3 class="modal-title">{{modalCtrl.data.heading}} Quote</h3>
</div>
<div class="modal-body">
    <form name="addQuoteForm">
        <div class="form-group" ng-class="{'has-error':addQuoteForm.author.$invalid && addQuoteForm.author.$dirty}">
            <label for="author">Author</label>
            <input list="suggestions" type="text" name="author" ng-model="modalCtrl.data.author" class="form-control" required>
            <datalist id="suggestions">
                <select>
                    <option ng-repeat="suggestion in modalCtrl.data.authors" class="ng-scope">{{suggestion}}</option>
                </select>
            </datalist>
        </div>
        <div class="form-group" ng-class="{'has-error':addQuoteForm.theText.$invalid && addQuoteForm.theText.$dirty}">
            <label for="theText">Text</label>
            <textarea ng-model='modalCtrl.data.text' name="theText" class="form-control verticalTextArea" required></textarea>
        </div>
        <div class="form-group">
            <label for="source">Source</label>
            <input type="text" name="source" ng-model="modalCtrl.data.source" class="form-control">
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea ng-model='modalCtrl.data.comment' name="text" class="form-control verticalTextArea"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-lg" type="button" ng-click="modalCtrl.ok()" ng-disabled="addQuoteForm.$invalid">{{modalCtrl.data.heading}}</button>
    <button class="btn btn-warning btn-lg" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
</div>
