.groupHeading {
    color: #723C82;
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    padding: 10px;
}

.activeGroup {
    font-weight: bold;
}

.allQuestionsList select {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.searchQuoteInput {
    margin-top: 10px;
    margin-bottom: 20px;
}

.noQuotes {
    text-align: center;
    margin-top: 30px;
    font-size: 1.3em;
    float: right;
    margin-right: 35px;
}
.noQuotes span{
	color:green;
	font-weight:bold;
}
