.groupHeading {
    color: rgb(188, 147, 200);
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    padding: 10px;
}
.activeGroup{
	font-weight:bold;
}
.allQuestionsList select{
	width: 100%; 
	height:500px;
	overflow-y:auto;
	overflow-x:hidden;
}
