<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-md-8">
      <ol class="breadcrumb">
        <li><a ui-sref="questionSetList">Question Sets</a></li>
        <li><a ui-sref="questionList({questionSetId:answerCtrl.question.questionSet._id})">{{answerCtrl.question.questionSet.name}}</a></li>
        <li class="active">Question Details</li>
      </ol>
    </div>
    
      <div class="col-xs-2 col-md-2" ><a  class="btn btn-success btn-block" ui-sref="answerList({questionId:answerCtrl.prevQuestionId})" ng-disabled="!answerCtrl.prevQuestionId"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
      <div class="col-xs-2 col-md-2" ><a  class="btn btn-success btn-block" ui-sref="answerList({questionId:answerCtrl.nextQuestionId})" ng-disabled="!answerCtrl.nextQuestionId"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
    
  </div>
  <h1 class="text-center">{{answerCtrl.question.text}} </h1>
  
  <div class="list-group" bindonce class="list-group" ng-repeat="(key, value) in  answerCtrl.questionAnswers | groupBy: 'theDay'">
    <strong bo-bind="key">Date</strong>
    <div class="row list-group-item" bindonce ng-repeat="answer in value">
      <div class="col-xs-10 col-md-11 col-lg-11 answerText">
        <span ng-bind = "answer.text" ></span>
      </div>
      <div class="col-xs-2 col-md-1 col-lg-1">
        <a confirm-click="Are you sure you want to delete this answer?" ng-click="answerCtrl.deleteAnswer(answer)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        <a ng-click='answerCtrl.openEditAnswerModal("lg",answer._id)'><i class="fa fa-pencil-square-o"></i></a>
      </div>
    </div>
  </div>
  
</div>
<div>
  <footer class="footer">
  <div class="container">
    <p>Wakeup App | 2015
    </p>
  </div>
</footer>